<h1>STORE!</h1>

<%= link_to "Back", "/stores" %><br>

Name: <%= @store['name'] %><br>
Address: <%= @store['address_line_1']) %><br>
City: <%= @store['city'] %><br>
Parking: <%= if true then 'Yes' end %>
